<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="vinyl">Vinyl Discussion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="purpose">The purpose</a>
                </li>
                <!-- <li class="nav-item">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Dropdown button
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
    </div>
    </li>  -->
            </ul>
        </div>
        <a href="login">
            <button type="button" class="btn btn-primary">Click here to log in</button>
        </a>
        <a href="register">
            <button type="button" class="btn btn-primary">Click here to register</button>
        </a>
    </nav>
    <div class="jumbotron text-center">
        <div class="container">
            <h1 class="display-4">Contact Us</h1>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <h2 class="display-6">Feel free to contact us</h2>
                        <h5 class="display-6">apabepacepa@NTI.com</h5>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card-img">
                        <img src="madmusic_logo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>